<!DOCTYPE html>
<html lang="en">
<head>
  <title>Problem View window for JSP with Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
	/* Remove the navbar's default margin-bottom and rounded borders */ 
	.navbar {
	  margin-bottom: 0;
	  border-radius: 0;
	}
 
	/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	.row.content {height: 450px}
	
	/* Set gray background color and 100% height */
	.sidenav {
	  padding-top: 20px;
	  background-color: #f1f1f1;
	  height: 100%;
	}
	
	/* Set black background color, white text and some padding */
	footer {
	  background-color: #555;
	  color: white;
	  padding: 15px;
	}
	
	/* On small screens, set height to 'auto' for sidenav and grid */
	@RenderBody() screen and (max-width: 767px) {
	  .sidenav {
		height: auto;
		padding: 15px;
	  }
	  .row.content {height:auto;} 
	}
  </style>
</head>
<body>
    <!-- Comment: Navbar for small window -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <!-- Comment: Menu show. Position Upper side of window  -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:7058/Home/Index">Home</a></li>
                    <li class="active"><a href="#">Problem</a></li>
                    <li><a href="http://localhost:7058/Rank/Index">Rank</a></li>
                    <li><a href="http://localhost:7058/ProblemSets/Index">Dashboard</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login account Name</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <!-- Comment: Link of all problem in contest show here. Position Left side of window  -->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="#">Problem 1 link</a></p>
                <p><a href="#">Problem 2 link</a></p>
                <p><a href="#">Problem 3 link</a></p>
            </div>

            <!-- Comment: Problem details will be show here. Position Middle side of window  -->
            <div class="col-sm-8 text-left">
                <h2 style="text-align:center">Little monkey and oiled bamboo</h2>
                <h4 style="text-align:center">Memory Limit: 128 megabytes</h4>
                <h4 style="text-align:center">Time Limit: 0.5 seconds</h4>
                <h4 style="text-align:center">Problem Writter: Jayed Al Hasan</h4>
                @*<embed src="file:///E:/C%20no/Little%20monkey%20and%20oiled%20bamboo.pdf" width="100%" height="800px">*@
                <p style="font-size:18px">
                    <br />A little monkey was lost the forest. Unfortunately it has come to a human village. Therefore, the
                    monkey is cute, everyone of that village is expecting to get the monkey and they are trying to
                    capture it. The monkey has become afraid and it is thinking to go as higher as it can. There is a
                    bamboo standing on the land nearby the monkey. Now, the monkey is trying to climb at the top
                    of the bamboo. Alas! the bamboo is oiled.<br />
                    The monkey jumps 3 meter at once but it slipped down 1 meter every time without the last
                    jump.<br /><br />

                    Now, if the bamboo is N meter higher from land then calculate the number of jumps the monkey
                    need to climb at the top of the bamboo.<br /><br />


                    <b>Note: At the last jump the monkey will not be slipped down.</b>
                </p>
<hr /><p style="font-size:18px">
    <b>Input:</b><br />
    Input will be an Integer N in the range <b>(3<=N<=100).</b><br />
          <br />
    <b>Output:</b><br />
    Print only one Integer with a new line that describes the number of jumps little monkey needs.
</p>
<hr /><p style="font-size:18px">
    Sample Input:<br />
    10<br /><br />

    Sample Output:<br />
    5</p>
    <hr /><p style="font-size:18px">
    Sample Input:<br />
    15<br /><br />

    Sample Output:<br />
    7
</p>
            </div>
            <!-- Comment: Comment about contest show here. Position Right side of window -->
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>Comment</p>
                </div>
                <div class="well">
                    <p>Comment</p>
                </div>
                <div class="well">
                    <form>
                        <select name="language">
                            <option>C</option>
                            <option>C++</option>
                            <option>Java</option>
                            <option>Python</option>
                        </select><hr />
                        <input type="file" name="code" id=""/>
                        <hr />
                        <input type="submit" name="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Comment: Fotter for Creadit and other things show here. Position Bottom side of window -->
    <footer class="container-fluid text-center">
        <p>&copy; @DateTime.Now.Year - JSP online coding platform</p>
    </footer>

</body>
</html>
